<!doctype html>
<html>
  <head>
    <link href="./assets/style.css" rel="stylesheet" type="text/css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <h1>{{config.title}}</h1>
    <ul>
      {{#each presentations}}
        <li>
          <div class="presentation-title">
            <a href="/presentations/{{slug}}/">{{title}}</a>
          </div>
        </li>
      {{/each}}
    </ul>
     <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on('init', user => {
            if (!user) {
              window.netlifyIdentity.on('login', () => {
                document.location.href = '/admin/';
              });
            }
          });
        }
        window.netlifyIdentity.init();
    </script>
  </body>
</html>
